  
   


    <!--Main Content Area-->
    <div id="wrapper">
    
        <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
       
          <app-naviagation></app-naviagation>
      </header>
      <main id="content"> 
        <router-outlet></router-outlet>
      <!-- <app-intro></app-intro>
      <app-gallery></app-gallery>
      <app-content></app-content>
      <app-testimonials></app-testimonials>
      <app-client></app-client>
      <app-pricing></app-pricing>  -->
     
    </main>
  </div>
    <!--End Main Content Area-->
   
    <app-footer></app-footer>

